.aws-sam
/target
/target-aarch64
/target-x86_64
db

# Ignore user-specific modifications to launch environment files
.vscode/.env.self-hosted
.vscode/.env.archodex-com

# Ignore SurrealDB SQL CLI history
history.txt